body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
}

.navbar {
  background: rgba(0,0,0,0.5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
}

.navbar a:hover {
  background: #fff;
  color: #000;
  border-radius: 8px;
}

.hero {
  text-align: center;
  margin-top: 140px;
  color: #fff;
}

.main-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.main-btn:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}


@media(max-width: 600px){
  .navbar {
    padding: 10px 20px;
    flex-direction: column;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    margin-top: 90px;
    padding: 0 20px;
    font-size: 18px;
  }

  .main-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
